<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SportShopDB" connectionString="Data Source=DESKTOP-9U0F2B0\SQLEXPRESSS;
                                      Initial Catalog = SportShop;
                                      Integrated Security=True;
                                      Connect Timeout=30;
                                      Encrypt=False;"/>
	</connectionStrings>
</configuration>